apiVersion: v1
kind: Secret
metadata:
  name: cloud-credentials
  namespace: {{ .CAPIClusterNamespace }}
stringData:
	hcloud: {{ .HetznerConfig.Credentials.HetznerAPIToken }}
	robot-user: {{ .HetznerConfig.Credentials.HetznerRobotUser }}
	robot-password: {{ .HetznerConfig.Credentials.HetznerRobotPassword }}
