apiVersion: v1
kind: Secret
metadata:
  name: cloud-credentials
  namespace: kube-system
stringData:
  hcloud: {{ .HetznerConfig.Credentials.HetznerAPIToken }}
  robot-user: {{ .HetznerConfig.Credentials.HetznerRobotUsername }}
  robot-password: {{ .HetznerConfig.Credentials.HetznerRobotPassword }}
