# Flakes use pure evaluation by default, which prevents devenv from figuring out the environment
# its running in: for example, querying the working directory. The --no-pure-eval flag relaxes this
# restriction.
use flake . --no-pure-eval
