apiVersion: v1
kind: Secret
metadata:
  name: {{ .Name }}
  namespace: {{ .Namespace }}
  labels:
    kubeaid.io/managed-by: kubeaid
stringData:
  API_USERNAME: wazuh-wui
  API_PASSWORD: "{{ .Password }}"
