apiVersion: v1
kind: Secret
metadata:
  name: obmondo-clientcert
  namespace: monitoring
type: kubernetes.io/tls

data:
  tls.crt: {{ .ObmondoCertFileContents | base64Encode }}
  tls.key: {{ .ObmondoKeyFileContents | base64Encode }}
