apiVersion: v1
kind: Secret
metadata:
  name: azure-credentials
  namespace: crossplane
type: Opaque
stringData:
  credentials: |
    {
      "clientId": "{{ .AzureCredentials.ClientID }}",
      "clientSecret": "{{ .AzureCredentials.ClientSecret }}",
      "subscriptionId": "{{ .AzureConfig.SubscriptionID }}",
      "tenantId": "{{ .AzureConfig.TenantID }}",
      "activeDirectoryEndpointUrl": "https://login.microsoftonline.com",
      "resourceManagerEndpointUrl": "https://management.azure.com/",
      "activeDirectoryGraphResourceId": "https://graph.windows.net/",
      "sqlManagementEndpointUrl": "https://management.core.windows.net:8443/",
      "galleryEndpointUrl": "https://gallery.azure.com/",
      "managementEndpointUrl": "https://management.core.windows.net/"
    }
