# Git credentials used to authenticate against the Git platform you're using (Github / Gitlab etc.).
# KubeAid Bootstrap Script will use these credentials to :
#
#   (1) Clone the KubeAid and KubeAid config repositories.
#   (2) Create and push commits to a branch in the KubeAid config repository.
#
# So, make sure the Git password (token) you're using has necessary permissions associated to do
# the above.
#
# NOTE : Currently, we only support HTTPS authentication.
#        But in future, we'll be supporting using SSH Agent / SSH private key.
git:
  username: xxxxxxxxxx
  password: xxxxxxxxxx

hetzner:
  # HCloud API token.
  apiToken: xxxxxxxxxx

  # Hetzner Robot webservice user details.
  robot:
    user: xxxxxxxxxx
    password: xxxxxxxxxx

