{
  "issuer": "https://{{ .StorageAccountName }}.blob.core.windows.net/{{ .BlobContainerName }}/",
  "jwks_uri": "https://{{ .StorageAccountName }}.blob.core.windows.net/{{ .BlobContainerName }}/openid/v1/jwks",
  "response_types_supported": [
    "id_token"
  ],
  "subject_types_supported": [
    "public"
  ],
  "id_token_signing_alg_values_supported": [
    "RS256"
  ]
}
