apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  labels:
    kubeaid.io/version: "{{ .KubeaidVersion }}"
    kubeaid.io/managed-by: "kubeaid"
    kubeaid.io/priority: "default"
  name: argocd
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    server: https://kubernetes.default.svc
    namespace: argocd
  project: kubeaid
  sources:
    - repoURL: {{ .KubeaidForkURL }}
      path: argocd-helm-charts/argo-cd
      targetRevision: {{ .KubeaidVersion }}
      helm:
        valueFiles:
          - $values/k8s/{{ .Name }}/argocd-apps/argocd.values.yaml
    - repoURL: {{ .KubeaidConfigForkURL }}
      targetRevision: HEAD
      ref: values
  syncPolicy:
    syncOptions:
      - ApplyOutOfSyncOnly=true
      - CreateNamespace=true
