apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  labels:
    kubeaid.io/version: "{{ .KubeaidVersion }}"
    kubeaid.io/managed-by: "kubeaid"
    kubeaid.io/sync-order: "10"
  name: azuredisk-csi-driver
  namespace: argocd
spec:
  destination:
    namespace: kube-system
    server: https://kubernetes.default.svc
  sources:
    - repoURL: {{ .KubeaidForkURL }}
      path: argocd-helm-charts/azuredisk-csi-driver
      targetRevision: {{ .KubeaidVersion }}
      helm:
        valueFiles:
          - $values/k8s/{{ .ClusterConfig.Name }}/argocd-apps/values-azuredisk-csi-driver.yaml
    - repoURL: {{ .KubeaidConfigForkURL }}
      targetRevision: HEAD
      ref: values
  project: kubeaid
  syncPolicy:
    syncOptions:
      - ApplyOutOfSyncOnly=true
