apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  labels:
    kubeaid.io/version: {{ .KubeaidFork.Version }}
    kubeaid.io/managed-by: kubeaid
    kubeaid.io/sync-order: "10"
  name: azuredisk-csi-driver
  namespace: argocd
spec:
  destination:
    namespace: kube-system
    server: https://kubernetes.default.svc
  sources:
    - repoURL: {{ .KubeaidFork.ParsedURL.GetHttpCloneURL }}
      path: argocd-helm-charts/azuredisk-csi-driver
      targetRevision: {{ .KubeaidFork.Version }}
      helm:
        valueFiles:
          - $values/k8s/{{ .KubeaidConfigFork.Directory }}/argocd-apps/values-azuredisk-csi-driver.yaml
    - repoURL: {{ .KubeaidConfigFork.ParsedURL.GetHttpCloneURL }}
      targetRevision: HEAD
      ref: values
  project: kubeaid
  syncPolicy:
    syncOptions:
      - ApplyOutOfSyncOnly=true
