apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  labels:
    kubeaid.io/version: {{ .KubeaidFork.Version }}
    kubeaid.io/managed-by: kubeaid
    kubeaid.io/sync-order: "10"
  name: ccm-hcloud
  namespace: argocd
spec:
  destination:
    namespace: kube-system
    server: https://kubernetes.default.svc
  project: kubeaid
  sources:
    - repoURL: {{ .KubeaidFork.URL }}
      path: argocd-helm-charts/ccm-hcloud
      targetRevision: {{ .KubeaidFork.Version }}
      helm:
        valueFiles:
          - $values/k8s/{{ .KubeaidConfigFork.Directory }}/argocd-apps/values-ccm-hcloud.yaml
    - repoURL: {{ .KubeaidConfigFork.URL }}
      targetRevision: HEAD
      ref: values
  syncPolicy:
    syncOptions:
      - ApplyOutOfSyncOnly=true
