apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  labels:
    kubeaid.io/version: "{{ .KubeaidVersion }}"
    kubeaid.io/managed-by: "kubeaid"
    kubeaid.io/priority: "default"
  name: ccm-aws
  namespace: argocd
spec:
  destination:
    namespace: kube-system
    server: https://kubernetes.default.svc
  project: kubeaid
  sources:
    - repoURL: {{ .KubeaidForkURL }}
      path: argocd-helm-charts/ccm-aws
      targetRevision: {{ .KubeaidVersion }}
      helm:
        valueFiles:
          - $values/k8s/{{ .ClusterConfig.Name }}/argocd-apps/ccm-aws.values.yaml
    - repoURL: {{ .KubeaidConfigForkURL }}
      targetRevision: HEAD
      ref: values
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
      - ApplyOutOfSyncOnly=true
