apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: ccm-hetzner
  namespace: argo-cd

spec:
  destination:
    namespace: kube-system
    server: https://kubernetes.default.svc
  project: default
  sources:
    - repoURL: {{ .KubeaidForkURL }}
      path: argocd-helm-charts/ccm-hetzner
      targetRevision: HEAD
      helm:
        valueFiles:
          - $values/k8s/{{ .ClusterConfig.Name }}/argocd-apps/ccm-hetzner.values.yaml
    - repoURL: {{ .KubeaidConfigForkURL }}
      targetRevision: HEAD
      ref: values
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
      - ApplyOutOfSyncOnly=true

