apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
    labels:
      kubeaid.io/version: "{{ .KubeaidVersion }}"
      kubeaid.io/managed-by: "kubeaid"
      kubeaid.io/priority: "default"
  name: hetzner-robot
  namespace: argo-cd
spec:
  destination:
    namespace: kube-system
    server: https://kubernetes.default.svc
  project: kubeaid
  sources:
    - repoURL: {{ .KubeaidForkURL }}
      path: argocd-helm-charts/hetzner-robot
      targetRevision: {{ .KubeaidVersion }}
      helm:
        valueFiles:
          - $values/k8s/{{ .ClusterConfig.Name }}/argocd-apps/hetzner-robot.values.yaml
    - repoURL: {{ .KubeaidConfigForkURL }}
      targetRevision: HEAD
      ref: values
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
      - ApplyOutOfSyncOnly=true
