apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  labels:
    kubeaid.io/version: {{ .KubeaidFork.Version }}
    kubeaid.io/managed-by: kubeaid
    kubeaid.io/sync-order: "10"
  name: infrastructure
  namespace: argocd
spec:
  destination:
    server: https://kubernetes.default.svc
    namespace: crossplane
  project: kubeaid
  source:
    repoURL: {{ .KubeaidConfigFork.URL }}
    path: k8s/{{ .KubeaidConfigFork.Directory }}/infrastructure
    targetRevision: HEAD
    directory:
      recurse: true
