apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kube2iam
  namespace: argo-cd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    server: https://kubernetes.default.svc
    namespace: aws
  project: default
  sources:
    - repoURL: {{ .KubeaidForkURL }}
      path: argocd-helm-charts/kube2iam
      targetRevision: HEAD
      helm:
        valueFiles:
          - $values/k8s/{{ .ClusterConfig.Name }}/argocd-apps/kube2iam.values.yaml
    - repoURL: {{ .KubeaidConfigForkURL }}
      targetRevision: HEAD
      ref: values
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
