apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  labels:
    kubeaid.io/version: {{ .KubeaidFork.Version }}
    kubeaid.io/managed-by: kubeaid
    kubeaid.io/sync-order: "10"
  name: secrets
  namespace: argocd
spec:
  destination:
    server: https://kubernetes.default.svc
    namespace: sealed-secrets
  project: kubeaid
  source:
    path: k8s/{{ .KubeaidConfigFork.Directory }}/sealed-secrets
    repoURL: {{ .KubeaidConfigFork.ParsedURL.GetHttpCloneURL }}
    targetRevision: HEAD
    directory:
      recurse: true
