apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  labels:
    kubeaid.io/version: "{{ .KubeaidVersion }}"
    kubeaid.io/managed-by: "kubeaid"
    kubeaid.io/priority: "default"
  name: velero
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    server: https://kubernetes.default.svc
    namespace: velero
  project: kubeaid
  sources:
    - repoURL: {{ .KubeaidForkURL }}
      path: argocd-helm-charts/velero
      targetRevision: {{ .KubeaidVersion }}
      helm:
        valueFiles:
          - $values/k8s/{{ .ClusterConfig.Name }}/argocd-apps/values-velero.yaml
    - repoURL: {{ .KubeaidConfigForkURL }}
      targetRevision: HEAD
      ref: values
  syncPolicy:
    syncOptions:
      - ApplyOutOfSyncOnly=true
      - CreateNamespace=true
