{{- $kubeaidConfigRepositoryName := "kubeaid-config" }}
{{- if .ObmondoConfig }}
{{- $kubeaidConfigRepositoryName = printf "kubeaid-config-%s" .ObmondoConfig.CustomerID }}
{{- end }}

apiVersion: v1
kind: Secret
metadata:
  name: {{ $kubeaidConfigRepositoryName }}
  namespace: argocd
  labels:
    argocd.argoproj.io/secret-type: repository

stringData:
  name: {{ $kubeaidConfigRepositoryName }}
  url: {{ .KubeaidConfigFork.ParsedURL.GetHttpCloneURL }}
  type: git

  username: {{ .ArgoCDCredentials.Git.Username }}
  password: {{ .ArgoCDCredentials.Git.Password }}
