{{- $kubeaidConfigRepositoryName := "kubeaid-config" }}
{{- if .ObmondoConfig }}
{{- $kubeaidConfigRepositoryName = printf "kubeaid-config-%s" .ObmondoConfig.CustomerID }}
{{- end }}

apiVersion: v1
kind: Secret
metadata:
  name: {{ $kubeaidConfigRepositoryName }}
  namespace: argocd
  labels:
    argocd.argoproj.io/secret-type: repository

stringData:
  name: {{ $kubeaidConfigRepositoryName }}
  url: {{ .KubeaidConfigFork.URL }}
  type: git

  {{/* When git authentication method is 'using SSH private key'. */}}
  {{- if .GitConfig.SSHPrivateKeyConfig }}
  sshPrivateKey: |
    {{- $sshKey := .GitConfig.PrivateKey }}
    {{- $lines := split $sshKey "\n" }}
    {{- range $index, $line := $lines }}
        {{ $line }}
    {{- end }}

  {{/* When git authentication method is 'username + password'. */}}
  {{- else }}
  username: {{ .GitCredentials.Username }}
  password: {{ .GitCredentials.Password }}
  {{- end }}
