apiVersion: v1
kind: Secret
metadata:
  name: repo-kubeaid-config
  namespace: argocd
  labels:
    argocd.argoproj.io/secret-type: repository
    kubeaid.io/managed-by: kubeaid

stringData:
  name: kubeaid-config
  url: {{ .KubeaidConfigFork.URL }}
  type: git
  sshPrivateKey: |-
{{- .ClusterConfig.ArgoCD.DeployKeys.KubeaidConfig.PrivateKey | nindent 4 }}
