{{- if eq .CloudProvider "aws" }}
{{- if .AWSAccessKeyID }}
aws:
  accessKeyID: {{ .AWSAccessKeyID }}
  secretAccessKey: {{ .AWSSecretAccessKey }}
  sessionToken: {{ .AWSSessionToken }}
{{- end }}
{{- end }}
{{- if eq .CloudProvider "azure" }}
azure:
  clientID: {{ .AzureClientID }}
  clientSecret: {{ .AzureClientSecret }}
{{- end }}
{{- if eq .CloudProvider "hetzner" }}
hetzner:
  apiToken: {{ .HetznerAPIToken }}
{{- if .HetznerRobotUser }}
  robot:
    user: {{ .HetznerRobotUser }}
    password: {{ .HetznerRobotPassword }}
{{- end }}
{{- end }}
