apiVersion: v1
kind: Secret
metadata:
  name: backup-sealed-secrets-pod-env
  namespace: sealed-secrets
  labels:
    kubeaid.io/managed-by: kubeaid
type: Opaque

stringData:
  AZURE_ACCESS_KEY: {{ .AzureStorageAccountAccessKey }}
