{{- if .AWSConfig.DisasterRecovery }}
backup:
  kube2iamRole: arn:aws:iam::{{ .AWSAccountID }}:role/sealed-secrets-backuper-{{ .ClusterConfig.Name }}
  backupBucket: {{ .AWSConfig.DisasterRecovery.SealedSecretsBackupS3BucketName }}
{{- end }}
