sealed-secrets:
  namespace: sealed-secrets
  fullnameOverride: sealed-secrets-controller

{{- if and (.AWSConfig) (.AWSConfig.DisasterRecovery) }}
backup:
  namespace: sealed-secrets
  kube2iamRole: arn:aws:iam::{{ .AWSAccountID }}:role/sealed-secrets-backuper-{{ .ClusterConfig.Name }}
  backupBucket: {{ .AWSConfig.DisasterRecovery.SealedSecretsBackupS3BucketName }}
{{- end }}
