---
{{- if .ProvisionedClusterEndpoint }}
cilium:
  kubeProxyReplacement: "true"
  k8sServiceHost: {{ .ProvisionedClusterEndpoint.Host }}
  k8sServicePort: {{ .ProvisionedClusterEndpoint.Port }}

  {{/* I don't know why, when using HCloud, Cilium is not able to auto-detect the routing device. */}}
  {{- if .HetznerConfig }}
  extraArgs:
    - "--devices=eth+,enp+"
  {{- end }}
{{- end }}
