---
{{- if .AzureConfig }}
azure:
  enabled: true
  compositions:
    workloadIdentityInfrastructure:
      enabled: true

    {{- if .DisasterRecoveryConfig }}
    disasterRecoveryInfrastructure:
      enabled: true
    {{- end }}
{{- end }}
