global:
  clusterName: {{ .ClusterConfig.Name }}
  {{- if .ObmondoConfig }}
  customerid: {{ .ObmondoConfig.CustomerID }}
  {{- end }}
  kubernetes:
    version: {{ .K8sVersion }}
  kubeaid:
    repo: {{ .KubeaidForkURL }}
  kubeaidConfig:
    repo: {{ .KubeaidConfigForkURL }}
  additionalUsers: {{ .AdditionalUsers | toYAML | nindent 4 }}

{{- if .AWSConfig }}
provider:
  aws: true

aws:
  # Currently, hostNetworking must be set to true.
  # Otherwise, during the Kubernetes version upgrade process, when the control-plane nodes get
  # restarted, AWS CAPA errors out, complaining that :
  #
  #     NoCredentialProviders: no valid providers in chain. Deprecated.
  useHostNetwork: true
  secretName: cloud-credentials
  sshKeyName: {{ .AWSConfig.SSHKeyName }}
  region: {{ .AWSConfig.Region }}
  bastion:
    enabled: {{ .AWSConfig.BastionEnabled }}
  vpc:
    cidrBlock: 10.14.0.0/22
  pods:
    cidrBlock: 10.244.0.0/16
  controlPlane:
    loadBalancer:
      loadBalancerType: nlb
      scheme: {{ .AWSConfig.ControlPlane.LoadBalancerScheme }}
    region: {{ .AWSConfig.Region }}
    replicas: {{ .AWSConfig.ControlPlane.Replicas }}
    instanceType: {{ .AWSConfig.ControlPlane.InstanceType }}
    ami:
      id: {{ .AWSConfig.ControlPlane.AMI.ID }}
    {{- if .ClusterConfig.APIServer }}
    apiServer:
      extraArgs: {{ .ClusterConfig.APIServer.ExtraArgs | toYaml | nindent 8 }}
      extraVolumes: {{ .ClusterConfig.APIServer.ExtraVolumes | toYaml | nindent 8 }}
      files: {{ .ClusterConfig.APIServer.Files | toYaml | nindent 8 }}
    {{- end }}
  nodeGroups: {{ .AWSConfig.NodeGroups | toYaml | nindent 4 }}
{{- end }}

{{- if .AzureConfig }}
provider:
  azure: true

azure:
  tenantID: {{ .AzureConfig.TenantID }}
  subscriptionID: {{ .AzureConfig.SubscriptionID }}
  location: {{ .AzureConfig.Location }}
  resourceGroup: {{ .ClusterConfig.Name }}

  sshPublicKey: {{ .AzureConfig.SSHPublicKey }}

  userAssignedIdentity:
    name: cluster-api
    clientID: {{ (.WorkloadIdentityInfrastructureStatus).CAPIUAMIPrincipalID }}

  serviceAccountIssuer:
    url: {{ .ServiceAccountIssuerURL }}

  {{ if .AzureConfig.ImageID }}
  imageID: {{ .AzureConfig.ImageID }}
  {{ end }}

  controlPlane: {{ .AzureConfig.ControlPlane | toIndentYAML 2 | nindent 4 }}

  nodeGroups: {{ .AzureConfig.NodeGroups | toIndentYAML 2 | nindent 4 }}
{{- end }}

{{- if .HetznerConfig }}
provider:
  hetzner: true

hetzner:
  mode: {{ .HetznerConfig.Mode }}

  {{- if (or (eq .HetznerConfig.Mode "hcloud") (eq .HetznerConfig.Mode "hybrid")) }}
  hcloud:
    zone: {{ .HetznerConfig.HCloud.Zone }}
    imageName: {{ .HetznerConfig.HCloud.ImageName }}
    sshKeyPairName: {{ .HetznerConfig.HCloud.SSHKeyPairName }}
  {{- end }}

  {{- if (or (eq .HetznerConfig.Mode "bare-metal") (eq .HetznerConfig.Mode "hybrid")) }}
  bareMetal:
    wipeDisks: {{ .HetznerConfig.BareMetal.WipeDisks }}
    sshKeyPair:
      name: {{ .HetznerConfig.BareMetal.SSHKeyPair.Name }}
    installImage:
      imagePath: {{ .HetznerConfig.BareMetal.ImagePath }}
  {{- end }}

  controlPlane:
    regions: {{ .HetznerConfig.ControlPlane.Regions | toIndentYAML 2 | nindent 6 }}

    {{/* Handling control-plane in Hetzner bare-metal. */}}
    {{- if eq .HetznerConfig.Mode "bare-metal" }}
    bareMetal: {{ .HetznerConfig.ControlPlane.BareMetal | toIndentYAML 2 | nindent 6 }}

    {{/* Handling control-plane in HCloud. */}}
    {{- else }}
    hcloud: {{ .HetznerConfig.ControlPlane.HCloud | toIndentYAML 2 | nindent 6 }}
    {{- end }}

  nodeGroups: {{ .HetznerConfig.NodeGroups | toIndentYAML 2 | nindent 4 }}
{{- end }}
