---
{{/* We're using Workload Identity in case of Azure.
     And will soon use IRSA for AWS. */}}
{{- if not .AzureConfig }}
cluster-api-operator:
  configSecret:
    name: cloud-credentials
    namespace: {{ .CAPIClusterNamespace }}
{{- end }}
