global:
  clusterName: {{ .ClusterConfig.Name }}
  {{- if .ObmondoConfig }}
  customerid: {{ .ObmondoConfig.CustomerID }}
  {{- end }}
  kubernetes:
    version: {{ .K8sVersion }}
  kubeaid:
    repo: {{ .KubeaidFork.URL }}
  kubeaidConfig:
    repo: {{ .KubeaidConfigFork.URL }}
  additionalUsers: {{ .AdditionalUsers | toYAML | nindent 4 }}

{{- if .AWSConfig }}
provider:
  aws: true

aws:
  # Currently, hostNetworking must be set to true.
  # Otherwise, during the Kubernetes version upgrade process, when the control-plane nodes get
  # restarted, AWS CAPA errors out, complaining that :
  #
  #     NoCredentialProviders: no valid providers in chain. Deprecated.
  useHostNetwork: true
  secretName: cloud-credentials
  sshKeyName: {{ .AWSConfig.SSHKeyName }}
  region: {{ .AWSConfig.Region }}
  bastion:
    enabled: {{ .AWSConfig.BastionEnabled }}
  vpc:
    cidrBlock: 10.14.0.0/22
  pods:
    cidrBlock: 10.244.0.0/16
  controlPlane:
    loadBalancer:
      loadBalancerType: nlb
      scheme: {{ .AWSConfig.ControlPlane.LoadBalancerScheme }}
    region: {{ .AWSConfig.Region }}
    replicas: {{ .AWSConfig.ControlPlane.Replicas }}
    instanceType: {{ .AWSConfig.ControlPlane.InstanceType }}
    ami:
      id: {{ .AWSConfig.ControlPlane.AMI.ID }}
    {{- if .ClusterConfig.APIServer }}
    apiServer:
      extraArgs: {{ .ClusterConfig.APIServer.ExtraArgs | toYaml | nindent 8 }}
      extraVolumes: {{ .ClusterConfig.APIServer.ExtraVolumes | toYaml | nindent 8 }}
      files: {{ .ClusterConfig.APIServer.Files | toYaml | nindent 8 }}
    {{- end }}
  nodeGroups: {{ .AWSConfig.NodeGroups | toYaml | nindent 4 }}
{{- end }}

{{- if .AzureConfig }}
provider:
  azure: true

azure:
  tenantID: {{ .AzureConfig.TenantID }}
  subscriptionID: {{ .AzureConfig.SubscriptionID }}
  location: {{ .AzureConfig.Location }}
  resourceGroup: {{ .ClusterConfig.Name }}

  sshPublicKey: {{ .AzureConfig.SSHPublicKey }}

  userAssignedIdentity:
    name: capi
    clientID: {{ .CAPIUAMIClientID }}

  serviceAccountIssuer:
    url: {{ .ServiceAccountIssuerURL }}

  canonicalUbuntuImage: {{ .AzureConfig.CanonicalUbuntuImage | toIndentYAML 2 | nindent 4 }}

  controlPlane: {{ .AzureConfig.ControlPlane | toIndentYAML 2 | nindent 4 }}

  nodeGroups: {{ .AzureConfig.NodeGroups | toIndentYAML 2 | nindent 4 }}
{{- end }}

{{- if .HetznerConfig }}
provider:
  hetzner: true

hetzner:
  mode: {{ .HetznerConfig.Mode }}

  {{- if (or (eq .HetznerConfig.Mode "hcloud") (eq .HetznerConfig.Mode "hybrid")) }}
  hcloud:
    zone: {{ .HetznerConfig.HCloud.Zone }}
    imageName: {{ .HetznerConfig.HCloud.ImageName }}
    sshKeyPairName: {{ .HetznerConfig.HCloud.SSHKeyPairName }}

    {{- if (and (eq .ClusterConfig.Type "workload") .HetznerConfig.VPNCluster) }}
    disablePublicIPs: true
    {{- end }}
  {{- end }}

  {{- if (or (eq .HetznerConfig.Mode "bare-metal") (eq .HetznerConfig.Mode "hybrid")) }}
  bareMetal:
    wipeDisks: {{ .HetznerConfig.BareMetal.WipeDisks }}
    sshKeyPair:
      name: {{ .HetznerConfig.BareMetal.SSHKeyPair.Name }}
    installImage:
      imagePath: {{ .HetznerConfig.BareMetal.InstallImage.ImagePath }}
      vg0:
        size: {{ .HetznerConfig.BareMetal.InstallImage.VG0.Size }}G
        rootVolumeSize: {{ .HetznerConfig.BareMetal.InstallImage.VG0.RootVolumeSize }}G
  {{- end }}

  controlPlane:
    regions: {{ .HetznerConfig.ControlPlane.Regions | toIndentYAML 2 | nindent 6 }}

    {{/* Handling control-plane in Hetzner bare-metal. */}}
    {{- if eq .HetznerConfig.Mode "bare-metal" }}
    {{ $bareMetal := .HetznerConfig.ControlPlane.BareMetal }}
    bareMetal:
      endpoint: {{ $bareMetal.Endpoint | toIndentYAML 2 | nindent 8 }}
      bareMetalHosts: {{ $bareMetal.BareMetalHosts | toIndentYAML 2 | nindent 8 }}
      diskLayoutSetupCommands: |
        set -e

        apt-get update -y
        apt install zfsutils-linux -y

        # Create necessary partitions.
        {{- range $i, $disk := $bareMetal.StoragePlan.Disks }}

        {{- if eq $disk.Allocations.OS 0 }}
        echo ",1K,L" | sfdisk -N 1 /dev/{{ $disk.Name }} --force --no-reread
        echo ",1K,L" | sfdisk -N 2 /dev/{{ $disk.Name }} --force --no-reread
        echo ",1K,L" | sfdisk -N 3 /dev/{{ $disk.Name }} --force --no-reread
        {{- end }}

        printf "d\n4\nw\n" | fdisk /dev/{{ $disk.Name }}

        {{- if eq $disk.PartitionTableType "dos" }}
        echo ",,E" | sfdisk -N 4 /dev/{{ $disk.Name }} --force --no-reread
        {{- else }}
        echo ",1K,L" | sfdisk -N 4 /dev/{{ $disk.Name }} --force --no-reread
        {{- end }}

        {{- $partitionSize := "1K" }}
        {{- if gt $disk.Allocations.ZFS 0 }}
        {{- $partitionSize = printf "%dG" $disk.Allocations.ZFS }}
        {{- end }}
        echo ",{{ $partitionSize }},L" | sfdisk -N 5 /dev/{{ $disk.Name }} --force --no-reread

        echo ",,L" | sfdisk -N 6 /dev/{{ $disk.Name }} --force --no-reread

        partprobe /dev/{{ $disk.Name }}
        udevadm settle

        {{- end }}

        if zpool import -f primary >/dev/null 2>&1; then
          echo "Imported existing primary ZFS pool"
        else
          # Create the ZFS pool with mirroring enabled.
          zpool create primary mirror \
            {{- range $i, $disk := $bareMetal.StoragePlan.ZFS }}
              {{- if eq $disk.Type "NVMe" }}
                /dev/{{ $disk.Name }}p5 {{ if eq $i 0 }}\{{ end }}
              {{- else }}
                /dev/{{ $disk.Name }}5 {{ if eq $i 0 }}\{{ end }}
              {{- end -}}
            {{ end }}

          # Create the filesystem for ContainerD, to store container images.
          zfs create primary/containerd
          zfs set mountpoint=/var/lib/containerd primary/containerd

          # Create the filesystem where pod logs will be stored.
          zfs create primary/pod-logs
          zfs set mountpoint=/var/log/pods primary/pod-logs

          # Create the filesystem where pod ephemeral volumes will be stored.
          zfs create primary/pod-ephemeral-volumes
          zfs set mountpoint=/var/lib/kubelet/pods primary/pod-ephemeral-volumes

          # Enable weekly ZPool trimming for the ZPool.
          # So unused storage space will be reclaimed back, into the ZFS pool.
          # REFER : https://openzfs.github.io/openzfs-docs/man/master/8/zpool-trim.8.html.
          systemctl enable zfs-trim-weekly@rpool.timer --now
        fi

    {{/* Handling control-plane in HCloud. */}}
    {{- else }}
    hcloud: {{ .HetznerConfig.ControlPlane.HCloud | toIndentYAML 2 | nindent 6 }}
    {{- end }}

  nodeGroups:
    hcloud: {{ .HetznerConfig.NodeGroups.HCloud | toIndentYAML 2 | nindent 6 }}

    bareMetal:
      {{- range $i, $nodeGroup := .HetznerConfig.NodeGroups.BareMetal }}
      - name: {{ $nodeGroup.Name }}
        bareMetalHosts: {{ $nodeGroup.BareMetalHosts | toIndentYAML 2 | nindent 10 }}
        diskLayoutSetupCommands: |
          set -e

          apt-get update -y
          apt install zfsutils-linux -y

          # Create necessary partitions.

          {{- range $i, $disk := $nodeGroup.StoragePlan.Disks }}

          {{- if eq $disk.Allocations.OS 0 }}
          echo ",1K,L" | sfdisk -N 1 /dev/{{ $disk.Name }} --force --no-reread
          echo ",1K,L" | sfdisk -N 2 /dev/{{ $disk.Name }} --force --no-reread
          echo ",1K,L" | sfdisk -N 3 /dev/{{ $disk.Name }} --force --no-reread
          {{- end }}

          printf "d\n4\nw\n" | fdisk /dev/{{ $disk.Name }}

          {{- if eq $disk.PartitionTableType "dos" }}
          echo ",,E" | sfdisk -N 4 /dev/{{ $disk.Name }} --force --no-reread
          {{- else }}
          echo ",1K,L" | sfdisk -N 4 /dev/{{ $disk.Name }} --force --no-reread
          {{- end }}

          {{- $partitionSize := "1K" }}
          {{- if gt $disk.Allocations.ZFS 0 }}
          {{- $partitionSize = printf "%dG" $disk.Allocations.ZFS }}
          {{- end }}
          echo ",{{ $partitionSize }},L" | sfdisk -N 5 /dev/{{ $disk.Name }} --force --no-reread

          echo ",,L" | sfdisk -N 6 /dev/{{ $disk.Name }} --force --no-reread

          partprobe /dev/{{ $disk.Name }}
          udevadm settle

          {{- end }}

          if zpool import -f primary >/dev/null 2>&1; then
            echo "Imported existing primary ZFS pool"
          else
            # Create the ZFS pool with mirroring enabled.
            zpool create primary mirror \
              {{- range $i, $disk := $nodeGroup.StoragePlan.ZFS }}
                {{- if eq $disk.Type "NVMe" }}
                  /dev/{{ $disk.Name }}p5 {{ if eq $i 0 }}\{{ end }}
                {{- else }}
                  /dev/{{ $disk.Name }}5 {{ if eq $i 0 }}\{{ end }}
                {{- end -}}
              {{ end }}

            # Create the filesystem for ContainerD, to store container images.
            zfs create primary/containerd
            zfs set mountpoint=/var/lib/containerd primary/containerd

            # Create the filesystem where pod logs will be stored.
            zfs create primary/pod-logs
            zfs set mountpoint=/var/log/pods primary/pod-logs

            # Create the filesystem where pod ephemeral volumes will be stored.
            zfs create primary/pod-ephemeral-volumes
            zfs set mountpoint=/var/lib/kubelet/pods primary/pod-ephemeral-volumes

            # Enable weekly ZPool trimming for the ZPool.
            # So unused storage space will be reclaimed back, into the ZFS pool.
            # REFER : https://openzfs.github.io/openzfs-docs/man/master/8/zpool-trim.8.html.
            systemctl enable zfs-trim-weekly@rpool.timer --now
          fi
        labels: {{ $nodeGroup.Labels | toIndentYAML 2 | nindent 10 }}
        taints: {{ $nodeGroup.Taints | toIndentYAML 2 | nindent 10 }}
      {{- end }}
{{- end }}
