---
cluster-api-operator:

  core:
    cluster-api:
      namespace: {{ .CAPIClusterNamespace }}
      createNamespace: false
  bootstrap:
    kubeadm:
      namespace: {{ .CAPIClusterNamespace }}
      createNamespace: false
  controlPlane:
    kubeadm:
      namespace: {{ .CAPIClusterNamespace }}
      createNamespace: false

{{/* We're using Workload Identity in case of Azure.
     And will soon use IRSA for AWS. */}}
{{- if not .AzureConfig }}
  configSecret:
    name: cloud-credentials
    namespace: {{ .CAPIClusterNamespace }}
{{- end }}
