sealed-secrets:
  namespace: sealed-secrets
  fullnameOverride: sealed-secrets-controller

{{- if and (.AWSConfig) (.AWSConfig.DisasterRecovery) }}
backup:
  namespace: sealed-secrets
  provider: aws
  kube2iamRole: arn:aws:iam::{{ .AWSAccountID }}:role/{{ .ClusterConfig.Name }}/sealed-secrets-backuper-{{ .ClusterConfig.Name }}
  backupBucket: {{ .AWSConfig.DisasterRecovery.SealedSecretsBackupBucketName }}
{{- else if and (.AzureConfig) (.AzureConfig.DisasterRecovery) }}
backup:
  namespace: sealed-secrets
  provider: azure
  azureStorageAccount: {{ .AzureConfig.StorageAccount }}
  destinationContainer: {{ .AzureConfig.DisasterRecovery.SealedSecretsBackupBucketName }}
{{- else }}
backup: {}
{{- end }}
