---
{{- if (gt (len .ExtraKnownHosts) 0) }}
argo-cd:
  configs:
    ssh:
      extraHosts: |
{{- range $i, $extraKnownHost := $.ExtraKnownHosts }}
{{- $extraKnownHost | nindent 8 }}
{{- end }}
{{- end }}
