{{- if .ProvisionedClusterEndpoint }}
cilium:
  kubeProxyReplacement: true
  k8sServiceHost: {{ .ProvisionedClusterEndpoint.Host }}
  k8sServicePort: {{ .ProvisionedClusterEndpoint.Port }}
{{- end }}
