apiVersion: v1
kind: Secret
metadata:
  name: netbird-turn-credentials
  namespace: netbird
  labels:
    kubeaid.io/managed-by: kubeaid
type: Opaque
stringData:
  username: {{ .NetBird.TurnUser }}
  password: {{ .NetBirdTurnPassword }}
