apiVersion: v1
kind: Secret
metadata:
  name: cloud-credentials
  namespace: {{ .CAPIClusterNamespace }}
stringData:
  {{- if .AWSConfig }}
  AWS_B64ENCODED_CREDENTIALS: {{ .AWSB64EncodedCredentials }}
	{{- end }}

  {{- if .HetznerConfig }}
  hcloud: "{{ .HetznerConfig.Credentials.HetznerAPIToken }}"
  robot-user: "{{ .HetznerConfig.Credentials.HetznerRobotUsername }}"
  robot-password: "{{ .HetznerConfig.Credentials.HetznerRobotPassword }}"
  {{- end }}
