apiVersion: v1
kind: Secret
metadata:
  name: hcloud-ssh-keypair
  namespace: {{ .CAPIClusterNamespace }}
stringData:
  sshkey-name: {{ .HetznerConfig.HCloudSSHKey.Name }}

  ssh-privatekey: |
{{ .HetznerConfig.HCloudSSHKey.PrivateKey | indent 4 }}

   ssh-publickey: |
{{ .HetznerConfig.HCloudSSHKey.PublicKey | indent 4  }}
