apiVersion: v1
kind: Secret
metadata:
  name: rescue-ssh-keypair
  namespace: {{ .CAPIClusterNamespace }}
stringData:
  sshkey-name: {{ .HetznerConfig.RescueHCloudSSHKeyPair.Name }}
  ssh-privatekey: |
{{- .HetznerConfig.RescueHCloudSSHKeyPair.PrivateKey | nindent 4 }}
  ssh-publickey: {{ .HetznerConfig.RescueHCloudSSHKeyPair.PublicKey }}
