apiVersion: v1
kind: Secret
metadata:
  name: service-account-issuer-keys
  namespace: {{ .CAPIClusterNamespace }}
type: Opaque
stringData:
  public: |
{{- .AzureConfig.WorkloadIdentity.OpenIDProviderSSHKeyPair.PublicKey | nindent 4 }}
  private: |
{{- .AzureConfig.WorkloadIdentity.OpenIDProviderSSHKeyPair.PrivateKey | nindent 4 }}
