# Configuration Reference

{{- range $i, $struct := .Structs.Sorted }}
- [{{ $struct.Name }}](#{{ $struct.Name | toLower }})
{{- end }}

{{- range $i, $struct := .Structs.Sorted }}

## {{ $struct.Name }}

{{ $struct.Doc }}

| Field | Type | Default | Description |
|-------|------|---------|-------------|
{{- range $j, $field := $struct.Fields }}
| {{ $field.Name }} | {{ typeLink $field.Type }} | {{ $field.DefaultValue }} | {{ $field.Doc | replace "\n" "<br>" }} |
{{- end }}


{{- end }}