forks:
  kubeaid: https://github.com/Obmondo/KubeAid
  kubeaidConfig: https://github.com/Archisman-Mridha/kubeaid-config

git:
  username: "...."
  password: "...."

cluster:
  name: kubeaid-demo
  k8sVersion: {{ .K8sVersion }}

cloud:
  aws:
    accessKey: "...."
    secretKey: "...."
    region: us-east-1

    sshKeyName: kubeaid-demo

    controlPlaneInstanceType: t4g.medium
    controlPlaneAMI: {{ .AMI }}
    controlPlaneReplicas: 1

    machinePools:
      - name: primary
        ami:
					id: {{ .AMI }}
        instanceType: t4g.medium

        replicas: 2
        rootVolumeSize: 35

        sshKeyName: kubeaid-demo

				# Label should meet one of the following criterias to propagate to Node :
				#
				# (1) Has node-role.kubernetes.io as prefix.
				# (2) Belongs to node-restriction.kubernetes.io domain.
				# (3) Belongs to node.cluster.x-k8s.io domain.
				#
				# REFER : https://cluster-api.sigs.k8s.io/developer/architecture/controllers/metadata-propagation#machine
				# labels: []

monitoring:
  kubePrometheusVersion: v0.14.0
  grafanaURL: ""

  connectObmondo: False
