apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: obmondo-k8s-agent
  namespace: argo-cd
  finalizers:
    - resources-finalizer.argocd.argoproj.io

spec:
  destination:
    server: https://kubernetes.default.svc
    namespace: obmondo
  project: default
  sources:
    - repoURL: {{ .KubeaidForkURL }}
      path: argocd-helm-charts/obmondo-k8s-agent
      targetRevision: HEAD
      helm:
        valueFiles:
          - $values/k8s/{{ .ClusterName }}/argocd-apps/obmondo-k8s-agent.values.yaml
    - repoURL: {{ .KubeaidConfigForkURL }}
      targetRevision: HEAD
      ref: values
  syncPolicy:
    syncOptions:
      - ApplyOutOfSyncOnly=true
      - CreateNamespace=true
