apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: secrets
  namespace: argo-cd

spec:
  destination:
    server: https://kubernetes.default.svc
    namespace: kube-system
  project: default
  source:
    path: k8s/{{ .ClusterName }}/sealed-secrets
    repoURL: {{ .KubeaidConfigForkURL }}
    targetRevision: HEAD
    directory:
      recurse: true
  syncPolicy: {}
