apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: traefik
  namespace: argo-cd
  finalizers:
    - resources-finalizer.argocd.argoproj.io

spec:
  destination:
    server: https://kubernetes.default.svc
    namespace: traefik
  project: default
  sources:
    - repoURL: {{ .KubeaidForkURL }}
      path: argocd-helm-charts/traefik
      targetRevision: HEAD
      helm:
        valueFiles:
          - $values/k8s/{{ .ClusterName }}/argocd-apps/traefik.values.yaml
    - repoURL: {{ .KubeaidConfigForkURL }}
      targetRevision: HEAD
      ref: values
  syncPolicy:
    syncOptions:
    - CreateNamespace=true
